absl-py==2.1.0
amqp==5.3.1
asgiref==3.8.1
astunparse==1.6.3
billiard==4.2.1
celery==5.4.0
certifi==2025.1.31
charset-normalizer==3.4.1
click==8.1.8
click-didyoumean==0.3.1
click-plugins==1.1.1
click-repl==0.3.0
colorama==0.4.6
contourpy==1.3.1
cycler==0.12.1
dataclasses==0.6
distlib==0.3.9
Django==5.1.7
django-cors-headers==4.7.0
djangorestframework==3.15.2
djongo==1.2.31
dnspython==2.7.0
dotenv==0.9.9
easyocr==1.7.2
filelock==3.17.0
flatbuffers==25.2.10
fonttools==4.56.0
fsspec==2025.3.0
gast==0.6.0
google-pasta==0.2.0
grpcio==1.70.0
h5py==3.13.0
idna==3.10
imageio==2.37.0
Jinja2==3.1.6
Keras==2.2.4
Keras-Applications==1.0.8
Keras-Preprocessing==1.1.2
kiwisolver==1.4.8
kombu==5.4.2
lazy_loader==0.4
libclang==18.1.1
Markdown==3.7
markdown-it-py==3.0.0
MarkupSafe==3.0.2
matplotlib==3.10.1
mdurl==0.1.2
ml-dtypes==0.4.1
mpmath==1.3.0
namex==0.0.8
networkx==3.4.2
ninja==1.11.1.3
numpy==2.1.1
opencv-python==4.11.0.86
numpy==2.1.1
imutils
pytesseract==0.3.13
fastapi==0.68.1
uvicorn==0.15.0
pymongo==3.12.0
python-multipart==0.0.5
requests==2.26.0
python-jose[cryptography]
passlib[bcrypt]
tkinter
opencv-python-headless==4.11.0.86
opt_einsum==3.4.0
optree==0.14.1
packaging==24.2
pandas==2.2.3
pillow==11.1.0
pipenv==2024.4.1
platformdirs==4.3.6
prompt_toolkit==3.0.50
protobuf==5.29.3
psutil==7.0.0
py-cpuinfo==9.0.0
pyclipper==1.3.0.post6
Pygments==2.19.1
pymongo==4.11.2
pyparsing==3.2.1
python-bidi==0.6.6
python-dateutil==2.9.0.post0
python-dotenv==1.0.1
python-magic-bin==0.4.14
pytz==2025.1
PyYAML==6.0.2
requests==2.32.3
rich==13.9.4
scikit-image==0.25.2
scipy==1.15.2
seaborn==0.13.2
shapely==2.0.7
six==1.17.0
sqlparse==0.5.3
sympy==1.13.1
tensorboard==2.18.0
tensorboard-data-server==0.7.2
tensorflow==2.18.0
tensorflow-io-gcs-filesystem==0.31.0
tensorflow_intel==2.18.0
termcolor==2.5.0
tifffile==2023.12.9
torch==2.6.0
torchvision==0.21.0
tqdm==4.67.1
typing_extensions==4.12.2
tzdata==2025.1
ultralytics==8.3.85
ultralytics-thop==2.0.14
urllib3==2.3.0
uv==0.6.4
vine==5.1.0
virtualenv==20.29.2
wcwidth==0.2.13
Werkzeug==3.1.3
wrapt==1.17.2
